* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../extra/bg.jpg) no-repeat center center/cover;
}

#logo {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.container {
    width: 40vw;
    height: 80vh;
    background-color: rgb(76, 249, 255);
    margin: auto;
    overflow-y: auto;
    border-radius: 10px;
}

.massage {
    margin: 8px 6px;
    padding: 4px 6px;
    width: 40%;
    border: 2px solid black;
    background-color: rgb(73 234 99 / 69%);
    border-radius: 6px;
}

.right {
    float: right;
    clear: both;
}

.left {
    display: inline;
    float: left;
    clear: both;
}

#send-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin: 1px auto;
}

#massageInp{
    width: 34vw;
    padding: 8px 4px;
    border: 2px solid black;
    border-radius: 4px;
}
.btn{
    cursor: pointer;
    width: 5vw;
    padding: 4px 4px;
    border: 2px solid black;
    border-radius: 4px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 400,
  'opsz' 48
}